@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #A18AFF;
    font-family: var(--fonte);
}

/* Parâmetros da sidebar abaixo*/
.sidebar {
    height: 100%;
    width: 250px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    color: #717082;
    overflow-x: hidden;
    padding-top: 5px;
    margin-right: 50px;
}
.sidebar a{
    text-decoration: none;
    margin: 10px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 520;
    color: #717082;
}
a:visited {
    text-decoration: none;
}
.sidebar-icon {
    display: flex;
 align-items: center;
}
.sidebar-icon2 {
   display: flex;
   align-items: center;
   margin-top: 20px;
   margin-left: -25px;
 width: 100%;
}
.sidebar svg {
margin-left: 80px;
}
/* Parâmetros da sidebar acima */


/* Parâmetros do título "foco" e título "tarefa" abaixo*/
.foco-title {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 350px;
    margin-top: 35px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}
.tarefa-title {
    font-size: 30px;
    font-weight: bold;
}
/* Parâmetros do título "foco" e título "tarefa" acima*/


/* Parâmetros da caixa de input abaixo */
.main-content {
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-content input {
    margin-top: 70px;
    border-radius: 15px;
    border: none;
    height: 50px;
    width: 34.938rem;
    font-size: 15px;
    font-family: var(--fonte);
    color: #717082;
    font-weight: 550;
    outline: none;
    box-sizing: border-box;
    padding-left: 80px;
}
input::placeholder {
    color: #A18AFF;
    position: absolute;
    font-weight: 450;
    font-size: 15px;
    font-style: italic;
    left: 80px;
}
.main-content input {
background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" style="fill: %23fd99af;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2z"></path></svg>'),
url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" style="fill: %233fd4f4;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2z"></path></svg>'),
url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" style="fill: %23fac608;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2z"></path></svg>');
background-position: 15px, 30px, 45px;
background-repeat: no-repeat;
}
/* Parâmetros da caixa de input acima */


/* Esconde os botões mobile no layout desktop */
.mobile-buttons { 
    display: none;
}




/* Parâmetros da lista de tarefas abaixo */
.addBtn {
    position: relative;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    background-color: #A18AFF;
    color: white;
    border: none;
    border-radius: 15px;
    border-color: #ffffff;
    border-style: solid;
    cursor: pointer;
}
.addBtn:hover {
    background-color: #0056b3;
}

.tarefas {
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
  }
  
  
  ul li {
    position: relative;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 15px;
    transition: 0.2s;
    border-radius: 8px;
    list-style: none;
    width: 510px;
    word-wrap: break-word;
    margin-top: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
 
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
 
  ul li:hover {
    background: #ddd;
  }
  

  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
/* Parâmetros da lista de tarefas acima */

  /* Media Queries abaixo */
@media (max-width: 700px) {
    .sidebar {
        display: none;
    }
    header {
        display: none;
    }
    .foco-title {
        display: block;
        margin: auto;
       text-align: center;
    }
    .main-content input {
        display: block;
        width: 90vw;
        margin-left: 350px;
        margin-right: 350px;
    }
    .main-content  {
        margin-left: 0;
    }
    .tarefas-content {
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }
    .tarefas {
        margin-left: 0;
    }
    ul li {
        width: 75vw;
        word-wrap: break-word;
    }
    


    /* Parâmetros dos botões para o layout mobile abaixo*/
    .mobile-buttons {
        display: flex;
        flex-direction: row;
        margin-top: 55px;
    }
    .mobile-buttons button {
        border-radius: 15px;
        margin: auto;
        width: 30%;
        height: 90px;
        justify-content: space-between;
        font-family: var(--fonte);
        border: none;
        text-align: center;
    }
    .button1 {
        background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: %23a18aff;"><path d="M11 12h6v6h-6z"></path><path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.001 16H5V8h14l.001 12z"></path></svg>');
        background-repeat: no-repeat;
        background-position: center 55px;
    }
    .button2 {
        background-image:url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="30.6" height="24" viewBox="0 0 24 24" style="fill: %23a18aff;"><path d="m9.981 14.811-.467 2.726 2.449-1.287 2.449 1.287-.468-2.726 1.982-1.932-2.738-.398L11.963 10l-1.225 2.481L8 12.879z"></path><path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.002 16H5V8h14l.002 12z"></path></svg>');
        background-repeat: no-repeat;
        background-position: center 55px;
    }
    .button3 {
        background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: %23a18aff;"><path d="M12 16c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.084 0 2 .916 2 2s-.916 2-2 2-2-.916-2-2 .916-2 2-2z"></path><path d="m2.845 16.136 1 1.73c.531.917 1.809 1.261 2.73.73l.529-.306A8.1 8.1 0 0 0 9 19.402V20c0 1.103.897 2 2 2h2c1.103 0 2-.897 2-2v-.598a8.132 8.132 0 0 0 1.896-1.111l.529.306c.923.53 2.198.188 2.731-.731l.999-1.729a2.001 2.001 0 0 0-.731-2.732l-.505-.292a7.718 7.718 0 0 0 0-2.224l.505-.292a2.002 2.002 0 0 0 .731-2.732l-.999-1.729c-.531-.92-1.808-1.265-2.731-.732l-.529.306A8.1 8.1 0 0 0 15 4.598V4c0-1.103-.897-2-2-2h-2c-1.103 0-2 .897-2 2v.598a8.132 8.132 0 0 0-1.896 1.111l-.529-.306c-.924-.531-2.2-.187-2.731.732l-.999 1.729a2.001 2.001 0 0 0 .731 2.732l.505.292a7.683 7.683 0 0 0 0 2.223l-.505.292a2.003 2.003 0 0 0-.731 2.733zm3.326-2.758A5.703 5.703 0 0 1 6 12c0-.462.058-.926.17-1.378a.999.999 0 0 0-.47-1.108l-1.123-.65.998-1.729 1.145.662a.997.997 0 0 0 1.188-.142 6.071 6.071 0 0 1 2.384-1.399A1 1 0 0 0 11 5.3V4h2v1.3a1 1 0 0 0 .708.956 6.083 6.083 0 0 1 2.384 1.399.999.999 0 0 0 1.188.142l1.144-.661 1 1.729-1.124.649a1 1 0 0 0-.47 1.108c.112.452.17.916.17 1.378 0 .461-.058.925-.171 1.378a1 1 0 0 0 .471 1.108l1.123.649-.998 1.729-1.145-.661a.996.996 0 0 0-1.188.142 6.071 6.071 0 0 1-2.384 1.399A1 1 0 0 0 13 18.7l.002 1.3H11v-1.3a1 1 0 0 0-.708-.956 6.083 6.083 0 0 1-2.384-1.399.992.992 0 0 0-1.188-.141l-1.144.662-1-1.729 1.124-.651a1 1 0 0 0 .471-1.108z"></path></svg> ');
        background-repeat: no-repeat;
        background-position: center 55px;
    }
    /* Parâmetros dos botões para o layout mobile acima */
}

@media (max-height: 300px) {
    .main-content input {
        width: auto;
        margin-top: 50px;
    }
    .tarefa-title {
        display: block;
        margin: auto;
       text-align: center;
}
}